<!DOCTYPE html>
<html lang="{{doc.locale}}">
  <head>
    <meta charset="utf-8">
    <title>{{_(doc.title)}}</title>
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link href='//fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Shuhei Iitsuka 飯塚修平">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Shuhei Iitsuka is a web developer. This is the portfolio of my works.">
    <meta property="og:url" content="https://tushuhei.com">
    <meta property="og:image" content="https://tushuhei.com/static/images/shuhei.png">
    <meta property="og:site_name" content="Shuhei Iitsuka 飯塚修平">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shuhei Iitsuka: web engineer / researcher.">
    <meta name="keywords" content="Shuhei Iitsuka,tushuhei,飯塚修平,web engineer">
    <meta name="google-site-verification" content="HmQRov-pDYvk_SLEQB8-AlpZ8wxyKoWaLKscsYhukL8" />
    <link rel="canonical" href="https://tushuhei.com">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30923853-4']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>{{_('Shuhei Iitsuka')}}</h1>
        <h2 aria-label="{{_("I build websites, write papers, and make some latte art.")}}" id="headline">
          {{_('I build <span class="headline-code-color">websites</span>, write <span class="headline-website-color">papers</span>, and make some <span class="headline-latte-color">latte art</span>.')}}
        </h2>
      </hgroup>
      <p>
      {{_('Shuhei creates innovative websites through logical and analytical manner.
      He is also a passionate lifetime learner to seek opportunities to bring machine learning technology into intelligent &amp; effective web development.')}}
      </p>
    </header>
    <main>
      {% block main %}
        {{doc.html|render|safe}}
      {% endblock %}
    </main>
    <footer>
      Language: <select onchange="window.location.href = this.value" class="language">
        {% for locale in doc.locales %}
        <option
        {% if doc.locale == locale %} selected{% endif %}
          value="{{g.doc(doc.pod_path, locale=locale).url.path}}">
          {{locale.get_display_name(locale)}}
        {% endfor %}
      </select>
    </footer>
  </body>
</html>
