$color-fg: #212121;
$color-bg: #FAFAFA;
$base-color: #1A237E;
$base-light-color: #3B78E7;
$accent-color: #FBC02D;
$font-family: 'Roboto', arial, sans-serif;
$code-color: #6018AD;
$website-color: #19AD61;
$latte-color: #AD6119;
