html {
  padding: 0 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $color-bg;
  color: $color-fg;
  font-family: $font-family;
  font-weight: 300;
  margin: 0 auto;
  max-width: 720px;
  padding: 0;

  small {
    color: lighten($color-fg, 20%);
  }
}

header {
  margin-bottom: 60px;
  padding-top: 60px;
}

header h2:lang(ja) {
  font-weight: normal;
}

h3 {
  margin-top: 2em;
}

section {
  margin-bottom: 60px;
}

.ww {
  display: inline-block;
}

footer {
  padding-bottom: 50px;
  text-align: right;
}

li {
  margin-bottom: 0.5em;
}
