@import '_config.scss';
@import '_global.scss';

.work {
  margin-bottom: 50px;
}

.work .media img {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.work .detail h4 {
  margin-bottom: 0;
}

.profile-image {
  width: 200px;
}

.teaching {
  margin-bottom: 1.5em;
  overflow: hidden;

  img {
    float: left;
    margin-right: 20px;
    width: 80px;
  }

  h4 {
    margin: 0;
  }

  p {
    overflow: hidden;
  }
}

.latteart {
  margin-top: 50px;
}
