<!DOCTYPE html>
<html>
  <head>
    <title>Shuhei Iitsuka 飯塚修平</title>
    <meta property="og:title" content="Shuhei Iitsuka 飯塚修平">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Shuhei Iitsuka is a web developer. This is the portfolio of my works.">
    <meta property="og:url" content="http://tushuhei.com/">
    <meta property="og:image" content="http://tushuhei.com/static/images/shuhei.jpg">
    <meta property="og:site_name" content="tushuhei portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shuhei Iitsuka is a web developer. This is the portfolio of my works.">
    <meta name="keywords" content="Shuhei Iitsuka,tushuhei,飯塚修平,web developer">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/base.css?v=130914">
    <link href='//fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="http://tushuhei.com">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30923853-4']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
   </head>
   <body>
     <div class="container" id="header">
       <h1 id="title">tushuhei</h1>
     </div>
     <div class="container" id="content">
       <div class="row work">
         <div class="title span5">
           <h2><a href="//gci.t.u-tokyo.ac.jp" target="_blank">東京大学 - グローバル消費インテリジェンス寄附講座</a></h2>
           <p>東京大学発データサイエンティスト養成プログラム、グローバル消費インテリジェンス寄附講座のウェブサイトを構築しました。</p>
         </div>
         <div class="photo span7">
           <a href="//gci.t.u-tokyo.ac.jp" target="_blank">
             <img src="/static/images/gci.png">
           </a>
         </div>
         <div class="detail span5">
           <h3>Build from Scratch</h3>
           <p>Web Design, Wordpress, PHP, HTML, CSS</p>
         </div>
       </div>
       <div class="row work">
         <div class="title span5">
           <h2><a href="//spysee.jp" target="_blank">SPYSEE - あのひと検索スパイシー</a></h2>
           <p>日本最大級の人物検索サービス。あのひとのプロフィールとつながりを知ることができます。</p>
         </div>
         <div class="photo span7">
           <a href="//spysee.jp" target="_blank">
             <img src="/static/images/spysee.png">
           </a>
         </div>
         <div class="detail span5">
           <h3>Team Manager</h3>
           <p>Management, Python, PHP, MySQL, CSS, Javascript, HTML</p>
         </div>
       </div>
       <div class="row work">
         <div class="title span5">
           <h2><a href="//asiatrendmap.jp" target="_blank">ASIA TREND MAP</a></h2>
           <p>日本のマンガ・アニメ・ゲームが半年後、どの国で流行るのかをウェブ上のデータから予測します。</p>
         </div>
         <div class="photo span7">
           <a href="//asiatrendmap.jp" target="_blank">
             <img src="/static/images/atm.png">
           </a>
         </div>
         <div class="detail span5">
           <h3>             <span>Development Team Manager</span></h3>
           <p>Direction, Machine Learning</p>
           <h3>Media</h3>
           <ul>
             <li><a href="//www.asahi.com/culture/update/0501/TKY201305010028.html" target="_blank">
               朝日新聞デジタル - クールジャパン、新戦略　ビッグデータで国別に人気予測</a>
             <li>2013 年 7 月 26 日繊研新聞掲載
           </ul>
         </div>
       </div>
       <div class="row work">
         <div class="title span5">
           <h2>
             <a href="//imagero.us" target="_blank">Imagerous*</a>
           </h2>
           <div>壁紙をまとめる、眺める、つかう。新しいイメージキュレーションサービスです。</div>
         </div>
         <div class="photo span7">
           <a href="//imagero.us" target="_blank">
             <img src="/static/images/imagerous.png">
           </a>
         </div>
         <div class="detail span5">
           <h3>
             <span>Build from Scratch</span></h3>
           <p> PHP, MySQL, CSS, Javascript, HTML </p>
           <h3>Media</h3>
           <ul>
             <li><a href="//d.hatena.ne.jp/tushuhei/20120515/1337087879" target="_blank">
               Imagerous* から学んだこと - tulog つろぐ</a></li>
           </ul>
         </div>
       </div>
       <hr class="hidden-phone">
       <div class="row" id="miniworks">
         <div class="span6 miniwork">
           <div class="row">
             <div class="span3 title">
               <h2>お花サプライズ！</h2>
               <p>お花サプライズ！は誕生日を迎える友だちのために 
               Facebook で本物の花束を集めて贈ることができるソーシャルギフトサービスです。</p>
               <p>Project Manager</p>
             </div>
             <div class="span3 image">
               <img src="/static/images/hanasup.png">
             </div>
           </div>
         </div>
         <div class="span6 miniwork">
           <div class="row">
             <div class="span3 title">
               <h2><a href="//tcer.or.jp">TCER - Tokyo Center for Economic Research</a></h2>
               <p>公益財団法人　東京経済研究センターのウェブサイトを構築しました。</p>
               <p>Web Developer</p>
             </div>
             <div class="span3 image">
               <a href="//tcer.or.jp"><img src="/static/images/tcer.png"></a>
             </div>
           </div>
         </div>
         <div class="span6 miniwork">
           <div class="row">
             <div class="span3 title">
               <h2><a href="//www.dumsco.com/product/dkeeper">D-Keeper</a></h2>
               <p>iPad と指一本でらくらく勤怠管理。充実した管理機能と店舗一元管理システムであなたの経営をサポートします。</p>
               <p>Dev Team Manager</p>
             </div>
             <div class="span3 image">
               <a href="//www.dumsco.com/product/dkeeper"><img src="/static/images/d-keeper.png"></a>
             </div>
           </div>
         </div>
         <div class="span6 miniwork">
           <div class="row">
             <div class="span3 title">
               <h2>ウェルカムページメーカー</h2>
               <p>画像をアップロードするだけであなたの Facebook ページにウェルカムページを作ることができます。</p>
               <p>HTML, CSS; w/@amachang</p>
             </div>
             <div class="span3 image">
               <img src="/static/images/welcomepage.png">
             </div>
           </div>
         </div>
         <div class="span6 miniwork">
           <div class="row">
             <div class="span3 title">
               <h2><a href="//twitter.com/oshiba_bot" target="_blank">ルー大柴 bot</a></h2>
               <p>フォロワーのツイートをルー語に変換してつぶやきます。</p>
               <p>PHP; MeCab</p>
             </div>
             <div class="span3 image">
               <a href="//twitter.com/oshiba_bot" target="_blank"><img src="/static/images/oshiba_bot.png"></a>
             </div>
           </div>
         </div>
         <div class="span6 miniwork">
           <div class="row">
             <div class="span3 title">
               <h2>銀座レストラン分類器</h2>
               <p>食べログとぐるなびのレビュー点数情報のみから銀座のレストランをカテゴライズします。</p>
               <p>Python; Recommender System</p>
             </div>
             <div class="span3 image">
               <img src="/static/images/crosssite.png">
             </div>
           </div>
         </div>
       </div>
       <hr class="hidden-phone">
     </div>
     <div class="container" id="profile">
       <div class="row">
         <div class="span3 photo">
           <img src="/static/images/shuhei.jpg" class="img-circle">
         </div>
         <div class="span8">
           <h2 class="name">Shuhei Iitsuka 飯塚 修平</h2>
           <h3>Work Experience</h3>
           <h4><a href="//google.com" target="_blank">Google</a> Web Developer @Tokyo Office <small>2014.4-present</small></h4>
           <h4><a href="//ohma-inc.com" target="_blank">Ohma Inc.</a> Executive Officer <small>2011.4-2014.3</small></h4>
           <h4><a href="//google.com" target="_blank">Google</a> Web Master Internship @Tokyo Office <small>2012.8-2012.11</small></h4>
           <h4><a href="//www.dumsco.com" target="_blank">Dumsco Inc.</a> Software Engineer <small>2011.4-2011.9</small></h4>

           <h3>Education</h3>
           <h4>PhD degree of engineering: The Department of Technology Management for Innovation, The University of Tokyo <small>2014-present</small></h4>
           <h4>Master degree of engineering: The Department of Technology Management for Innovation, The University of Tokyo <small>2012-2014</small></h4>
           <h4>Bachelor degree of engineering: The program for Social Innovation, The University of Tokyo <small>2008-2012</small></h4>
           <h4>Mekei High School & Junior High School <small>2002-2008</small></h4>
           <h3>Programming Skills</h3>
           <ul>
             <li>PHP</li>
             <li>Python</li>
             <li>HTML</li>
             <li>CSS</li>
             <li>Javascript</li>
             <li>MySQL</li>
           </ul>

           <h3>Research</h3>
           <ul onclick="_gaq.push(['_trackEvent', 'research', 'click']);">
             <li><a href="http://search.ieice.org/bin/summary_advpub.php?id=2015JDP7050&category=D&lang=J">
               飯塚修平, 濱野将司, 川上和也, 萩原静厳, 川上登福, 浜田貴之, 松尾豊. 閲覧・購買行動に着目した結婚情報サイトにおける商品間の勝敗関係の分析手法. 電子情報通信学会論文誌 D. 2015.</a>
             <li><a href="http://dl.acm.org/citation.cfm?id=2783351">
               Iitsuka, Shuhei, and Yutaka Matsuo. "Website Optimization Problem and Its Solutions." In Proceedings of the 21th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining, pp. 447-456. ACM, 2015.</a>
             <li><a href="https://kaigi.org/jsai/webprogram/2015/pdf/3C3-1.pdf">
               飯塚 修平, 松尾 豊. 高速なウェブサイト最適化のための KPI 設計手法の提案. 人工知能学会全国大会. 2015.</a>
             <li><a href="https://www.jstage.jst.go.jp/article/tjsai/29/5/29_29_460/_pdf">
               飯塚 修平, 松尾 豊. ウェブページ最適化問題の定式化と最適化手法の提案. 人工知能学会論文誌 Vol. 29 No. 5 p.460-468. 2014.</a>
             <li><a href="https://www.jstage.jst.go.jp/article/tjsai/29/5/29_29_449/_pdf">
               保住 純, 飯塚 修平, 中山 浩太郎, 高須 正和, 嶋田 絵理子, 須賀 千鶴, 西山 圭太, 松尾 豊. Webマイニングを用いたコンテンツ消費トレンド予測システム, 人工知能学会論文誌 Vol. 29 No. 5 p.449-459. 2014</a>
             <li><a href="https://kaigi.org/jsai/webprogram/2014/pdf/574.pdf">
               飯塚 修平, 松尾 豊. 高速なウェブページ最適化手法の提案. 人工知能学会全国大会. 2014.</a>
             <li><a href="/rsc/tushuhei_master_thesis.pdf">
               汎用的なウェブページ最適化手法の提案 （修士論文）</a>
             <li><a href="https://kaigi.org/jsai/webprogram/2013/pdf/320.pdf">
               飯塚 修平, 濱野 将司, 川上 和也, 松尾 豊, 萩原 静厳, 川上 登福, 浜田 貴之.  ゼクシィ.net におけるユーザーの行動パターンの分析. 人工知能学会全国大会. 2013.</a>
             <li><a href="//www.yuhikaku.co.jp/books/detail/9784641299580">
               飯塚修平, 大澤昇平, 松尾豊. ウェブを用いた社会ネットワークの取得. 社会と調査 第10号.</a>
             <li><a href="//dl.acm.org/citation.cfm?id=2063909&dl=ACM&coll=DL">
               Tani, Naoki, Danushka Bollegala, Naiwala Chandrasiri, Keisuke Okamoto, Kazunari Nawa, Shuhei Iitsuka, and Yutaka Matsuo. "Collaborative exploratory search in real-world context." In Proceedings of the 20th ACM international conference on Information and knowledge management, pp. 2137-2140. ACM, 2011.</a>
             <li><a href="/rsc/tushuhei_bachelor_thesis.pdf">
               ソーシャルウェブサービス設計手法の確立に向けたソーシャルギフトサービス構築の試み （卒業論文）</a>
           </ul>

           <h3>Misc</h3>
           <ul>
             <li>
             <a href="//www.slideshare.net/tushuhei/" target="_blank">
               Slideshare
             </a>
             </li>
             <li>
             <a href="//pinterest.com/tushuhei/myillustrationworks/" target="_blank">
               Illustration Works (Pinterest)
             </a>
             </li>
             <li>
             <a href="//soundcloud.com/tushuhei/"target="_blank">
               SoundCloud
             </a>
             </li>
             <li>
             <a href="//d.hatena.ne.jp/tushuhei/" target="_blank">
               Blog
             </a>
             </li>
           </ul>

           <h3>Contacts</h3>
           <ul>
             <li>Mail: <a href="mailto:tushuhei@gmail.com" target="_blank">tushuhei@gmail.com</a></li>
             <li>Twitter: <a href="//twitter.com/tushuhei" target="_blank">@tushuhei</a></li>
             <li>Facebook: <a href="//www.facebook.com/tushuhei" target="_blank">Shuhei Iitsuka</a></li>
           </ul>
         </div>
       </div>
     </div>
   </body>
 </html>
