---
$title@: Shuhei Iitsuka 飯塚 修平
$path: /

$localization:
  path: /{locale}/

works:
- id: esh
  video: https://www.youtube.com/embed/jr3q_9pJBr8?rel=0
  title@: Emoji Scavenger Hunt
  url: https://emojiscavengerhunt.withgoogle.com/
  desc@: Emoji Scavenger Hunt is a browser-based game built with machine learning technology that uses your phone’s camera and a neural network to try and guess what it’s seeing. This is an example of creative application of "front-end" machine learning running on <a href="https://js.tensorflow.org/" target="_blank">TensorFlow.js</a>.
  role@: Machine Learning Engineer

- id: tegaki
  video: https://www.youtube.com/embed/guJnFY1R4I0?rel=0
  title@: Gboard Physical Handwriting Version
  url: https://landing.google.co.jp/tegaki/
  desc@: Gboard Physical Handwriting Version is yet another input device which reads your scribble on your keyboard using machine learning technology. You don't need to remember QWERTY anymore. Just write it.
  role@: Machine Learning & UX Engineer

- id: budou
  img: budou.gif
  title@: Budou
  url: https://github.com/google/budou
  desc@: Budou automatically translates Japanese sentences into organized HTML code with meaningful line breaks using machine learning technology.
    Animation credit - <a href="https://github.com/remka/responsive-devices">Responsive Device Animation</a>
  role@: Project Lead

- id: gci
  img: gci.png
  title@: Global Consumer Intelligence, The University Of Tokyo
  url: http://gci.t.u-tokyo.ac.jp
  desc@: I built a website for Global Consumer Intelligence, a donated fund laboratory in the Univesity of Tokyo, from scratch playing my web design / engineering expertise.
  role@: Developer / Designer / Director

- id: spysee
  img: spysee.png
  title@: SPYSEE
  url: http://spysee.jp
  desc@: SPYSEE is a search engine service specialized for human profiles.  I worked on this website as a "growth hacker" and brought the website to the next level in a point of usability and business performance by exploiting A/B testing methodology a lot.
  role@: Developer / Designer / Director

- id: atm
  img: atm.png
  title@: Asia Trend Map
  url: http://asiatrendmap.jp
  desc@: Asia Trend Map forecasts the popularity of Japanese pop-culture contents (e.g. Manga, Anime, and Games) in Asia region. I directed the development colalborating with a Japanese engineering agency.
  role@: Direction

- id: imagerous
  img: imagerous.png
  title@: Imagerous
  url: http://imagero.us
  desc@: An experimental website which showcases images with a theme. See and enjoy. That's it.
  role@: Developer / Designer / Director

papers:
- type@: International Conferences
  titles:
    - title@: Shuhei Iitsuka, Masashi Hamano, Kazuya Kawakami, Seigen Hagiwara, Takayoshi Kawakami, Takayuki Hamada, and Yutaka Matsuo. "Inferring Win–Lose Product Network from User Behavior." In Proceedings of 2017 IEEE/WIC/ACM International Conference on Web Intelligence. 2017.
      pdf: /static/rsc/wi2017.pdf
    - title@: Shuhei Iitsuka and Yutaka Matsuo. "Website Optimization Problem and Its Solutions." In Proceedings of the 21th ACM SIGKDD International Conference on Knowledge Discovery and Data Mining, pp.447-456. ACM, 2015.
      pdf: /static/rsc/kdd2015.pdf
    - title@: Naoki Tani, Danushka Bollegala, Naiwala Chandrasiri, Keisuke Okamoto, Kazunari Nawa, Shuhei Iitsuka, and Yutaka Matsuo. "Collaborative exploratory search in real-world context." In Proceedings of the 20th ACM international conference on Information and knowledge management, pp. 2137-2140. ACM, 2011.
- type@: Journals
  titles:
    - title@: Koichiro Tamura, Katsuya Uenoyama, Shuhei Iitsuka, Yutaka Matsuo. "Model for Evaluation of Stock Values by Ensemble Model Using Deep Learning." Transactions of the Japanese Society for Artificial Intelligence. Vol.33 No.1 pp.A-H51_1-11. 2018.
    - title@: Shuhei Iitsuka, Masashi Hamano, Kazuya Kawakami, Seigen Hagiwara, Takayoshi Kawakami, Takayuki Hamada, and Yutaka Matsuo. "A Product Network Based on Browsing and Purchase Behavior in E-Commerce." Transactions of the Institute of Electronics, Information and Communication Engineers. Vol.J99-D No.1 pp.109-118. 2016.
      pdf: /static/rsc/win-lose.pdf
    - title@: Shuhei Iitsuka and Yutaka Matsuo. "Webpage Optimization Problem and Its Optimization Method." Transactions of the Japanese Society for Artificial Intelligence. Vol.29 No.5 pp.460-468. 2014.
      pdf: /static/rsc/webpage-optimization.pdf
    - title@: Jun Hozumi, Shuhei Iitsuka, Kotaro Nakayama, Masakazu Takasu, Eriko Shimada, Chizuru Suga, Keita Nishiyama, Yutaka Matsuo. "Consumer Trend Prediction System Using Web Mining." Transactions of the Japanese Society for Artificial Intelligence. Vol.29 No.5 pp.449-459. 2014.
- type@: Domestic Conferences
  titles:
    - title@: Shuhei Iitsuka and Yutaka Matsuo. "Website Optimization Focusing on the Long-term Effect." In Proceedings of the 31st Annual Conference of the Japanese Society for Artificial Intelligence. 2017.
      pdf: https://kaigi.org/jsai/webprogram/2017/pdf/576.pdf
    - title@: Shuhei Iitsuka and Yutaka Matsuo. "Variation Generation System for Automated Website Optimization." In Proceedings of the 30th Annual Conference of the Japanese Society for Artificial Intelligence. 2016.
      news@: <a href="http://www.ai-gakkai.or.jp/about/award/jsai_award-conf-s/#CONFERENCE_S" target="_blank">Student Award</a>
      pdf: https://kaigi.org/jsai/webprogram/2016/pdf/31.pdf
    - title@: Sho Tatsuno, Shuhei Iitsuka and Yutaka Matsuo. "Extraction of Conversion Promotional Factor Based on User Transition on Webpage." In Proceedings of the 30th Annual Conference of the Japanese Society for Artificial Intelligence. 2016.
      pdf: https://kaigi.org/jsai/webprogram/2016/pdf/482.pdf
    - title@: Shuhei Iitsuka and Yutaka Matsuo. "Alternative KPI Design Method for Rapid Website Optimization." In Proceedings of the 29th Annual Conference of the Japanese Society for Artificial Intelligence. 2015.
      pdf: https://kaigi.org/jsai/webprogram/2015/pdf/3C3-1.pdf
    - title@: Shuhei Iitsuka and Yutaka Matsuo. "Fast Webpage Optimization Method." In Proceedings of the 28th Annual Conference of the Japanese Society for Artificial Intelligence. 2014.
      pdf: https://kaigi.org/jsai/webprogram/2014/pdf/574.pdf
    - title@: Shuhei Iitsuka, Masashi Hamano, Kazuya Kawakami, Yutaka Matsuo, Seigen Hagiwara, Takayoshi Kawakami, and Takayuki Hamada. "User Behavior Analysis on Zexy.net." In Proceedings of the 27th Annual Conference of the Japanese Society for Artificial Intelligence. 2013.
      pdf: https://kaigi.org/jsai/webprogram/2013/pdf/320.pdf
    - title@: Jun Hozumi, Shuhei Iitsuka, Kotaro Nakayama, Masakazu Takasu, Eriko Shimada, Chizuru Suga, Keita Nishiyama, Yutaka Matsuo. "Consumer Trend Prediction System Using Web Mining." In Proceedings of the 27th Annual Conference of the Japanese Society for Artificial Intelligence. 2013.
      pdf: https://kaigi.org/jsai/webprogram/2013/pdf/833.pdf
- type@: Other papers
  titles:
    - title@: Shuhei Iitsuka. "Website Optimization Problem and Its Solutions." (PhD thesis)
      pdf: /static/rsc/tushuhei_doctor_thesis.pdf
    - title@: Shuhei Iitsuka. "Proposal of Generalized Webpage Optimization Method." (Master thesis)
      pdf: /static/rsc/tushuhei_master_thesis.pdf
    - title@: Shuhei Iitsuka, Shohei Ohsawa, Yutaka Matsuo. "Building Social Network Using Web." Japanese Association for Social Research. 2013.
    - title@: Shuhei Iitsuka. "Study of Social Web Service Development Methodology." (Bachelor thesis)
      pdf: /static/rsc/tushuhei_bachelor_thesis.pdf

jobs:
- name@: Google
  url: http://www.google.com
  role@: Brand Studio APAC Web Developer / UX Engineer
  term@: 2014.4-present

- name@: Ohma Inc.
  url: http://ohma-inc.com
  role@: Executive Officer
  term@: 2011.4-2014.3

- name@: Google
  url: http://www.google.com
  role@: Webmaster Internship
  term@: 2012.8-2012.11

- name@: Dumsco Inc.
  url: http://www.dumsco.com
  role@: Software Engineer
  term@: 2011.4-2011.9

schools:
- title@: PhD degree of engineering at the Department of Technology Management for Innovation, The University of Tokyo
  term@: 2014-2017
- title@: Master degree of engineering at the Department of Technology Management for Innovation, The University of Tokyo
  term@: 2012-2014
- title@: Bachelor degree of engineering at the Program for Social Innovation, The University of Tokyo
  term@: 2008-2012
- title@: Meikei Junior High &amp; High School
  term@: 2002-2008

skills:
- name: Python
  libraries:
  - Deep learning - TensorFlow / Keras / TensorFlow.js
  - Machine learning - scikit-learn / pandas
  - Scientific computation - numpy / scipy
  - Research tool - Jupyter Notebook / Colab
  - Web application hosting tool - Google App Engine
- name: Javascript
  libraries:
  - Angular / AngularJS
  - Vue.js
  - Google Closure
  - d3.js
  - Three.js (+ WebVR, GLSL)
- name: PHP
  libraries:
  - FuelPHP
  - WordPress
- name: HTML / CSS (SCSS)

teachings:
- name@: UT Startup Gym
  url: http://ut-gym.jp
  desc@: Founder of this study group which aims to produce entrepreneurs with practical web development skills from the Univresity of Tokyo.
  id: utgym
- name@: Web Engineering and Business Model, the University of Tokyo
  url: http://tmi.t.u-tokyo.ac.jp/
  desc@: Assisted and gave some lectures as a TA in front of graduated students in the University of Tokyo to grow thier web development skills.
  id: ut

miscs:
- url: https://blog.tushuhei.com/
  name@: Blog
- url: https://www.evernote.com/pub/tushuhei/survey
  name@: Survey Notebook
- url: http://www.slideshare.net/tushuhei/
  name: Slideshare

---

<section id="websites">
  <h2>{{_('Works')}}</h2>
  {% for work in doc.works %}
    <div class="work">
      <div class="abstract">
        <h3><a href="{{work.url}}" target="_blank">{{_(work.title)}}</a></h3>
      </div>
      <div class="media">
        {% if work.video %}
        <iframe width="100%" height="315" src="{{work.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% else %}
          <a href="{{work.url}}" target="_blank" title="{{_(work.title)}}">
            <img src="/static/images/{{work.img}}" alt="">
          </a>
        {% endif %}
      </div>
      <div class="detail">
        <h4>{{_('Role')}}: {{_(work.role)}}</h4>
        <p>{{_(work.desc)}}</p>
      </div>
    </div>
  {% endfor %}
</section>

<section id="papers">
  <h2>{{_('Publications')}}</h2>
  {% for paper in doc.papers %}
    <h3>{{_(paper.type)}}</h3>
    <ul>
    {% for t in paper.titles %}
      <li>{{_(t.title)}}{% if t.pdf %} [<a href="{{t.pdf}}" title="{{_(t.title)}} PDF">PDF</a>]{% endif %}{% if t.news %} ({{_(t.news)}}){% endif %}</li>
    {% endfor %}
    </ul>
  {% endfor %}
</section>

<section id="about">
  <h2>{{_('About - Shuhei Iitsuka <span class="ww">飯塚 修平</span>')}}</h2>
  <img src="/static/images/shuhei.png" class="profile-image" alt="{{_("Shuhei Iitsuka")}}">

  <h3>{{_('Work Experience')}}</h3>
  <ul class="jobs">
  {% for job in doc.jobs %}
    <li><a href="{{job.url}}" target="_blank">{{_(job.name)}}</a> {{_(job.role)}} <small>{{_(job.term)}}</small></a></li>
  {% endfor %}
  </ul>

  <h3>{{_('Education')}}</h3>
  <ul class="schools">
  {% for school in doc.schools %}
    <li>{{_(school.title)}} <small>{{_(school.term)}}</small>
  {% endfor %}
  </ul>

  <h3>{{_('Teaching Experience')}}</h3>
  {% for teaching in doc.teachings %}
    <div class="teaching">
      <a href="{{teaching.url}}"><img src="/static/images/{{_(teaching.id)}}.png" alt="" title="{{_(teaching.name)}}"></a>
      <h4><a href="{{teaching.url}}" target="_blank">{{_(teaching.name)}}</a></h4>
      <p>{{_(teaching.desc)}}</p>
    </div>
  {% endfor %}

  <h3>{{_('Programming Skills')}}</h3>
  <ul class="skills">
  {% for skill in doc.skills %}
    <li>{{_(skill.name)}}</li>
    {% if skill.libraries %}
      <ul>
      {% for library in skill.libraries %}
        <li>{{_(library)}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  </ul>

  <h3>{{_('Misc Links')}}</h3>
  <ul class="misc-links">
  {% for link in doc.miscs %}
    <li><a href="{{link.url}}" target="_blank">{{_(link.name)}}</a></li>
  {% endfor %}
  </ul>

  <h3>{{_('Contacts')}}</h3>
  <ul class="contacts">
    <li>{{_('Mail')}}: tushuhei[at]gmail.com</li>
    <li>LinkedIn: <a href="https://jp.linkedin.com/in/tushuhei" target="_blank">Shuhei Iitsuka</a></li>
    <li>Twitter: <a href="https://twitter.com/tushuhei" target="_blank">@tushuhei</a></li>
    <li>Facebook: <a href="https://www.facebook.com/tushuhei" target="_blank">Shuhei Iitsuka</a></li>
  </ul>

  <div class="latteart">
    <a data-pin-do="embedBoard" data-pin-board-width="900" data-pin-scale-height="300" data-pin-scale-width="115" href="https://jp.pinterest.com/tushuhei/latteart/"></a>
  </div>
</section>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
